{% extends 'base.html' %}
{% block content %}
<link type="text/css" href="/css/addcustomer.css" rel="stylesheet" />
    <div>
	<h2>增加客户</h2>
	</div>

    <div class="addcustomer">
       <form method="post" action="/addcustomer_result/" id="addcustomer">
        <div class="customerinput">
          <label>姓&nbsp;&nbsp名</label>
          <input  type="text" name="customer_name" required="required" />
          <br />
          <label>联系方式</label>
          <input type="text" name="customer_tel" required="required"/>
          <br />
          <label>银行账号</label>
          <input type="text" name="customer_bank_no" />
          <br />
          <label>微信账号</label>
          <input type="text" name="customer_webcat_no" />
          <br />
          <label>支付账号</label>
          <input type="text" name="customer_Alipay_no" />
          <br />
          <label>地&nbsp;&nbsp址</label>
          <input type="text" name="customer_address" required="required"/>
          <br />
          <input type="submit" value="添加" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
          <input type="reset"  value="重置" />
        </div>
      </form>
    </div>
{% endblock %}
