<html>
 <head></head> 
 <body>
   {% extends 'base.html' %} {% block content %} 
  <link type="text/css" href="/css/mod_goods.css" rel="stylesheet" />
       {% if goods %}
           {% for  goods_no,goods_type,goods_name,goods_customer,goods_price,goods_discount,goods_after_discount_price,goods_brand,goods_seasonal,goods_quantity,goods_images,goods_color,goods_size,purchase_date,exchange_date,sale_status  in goods %}
               <form method="post" action="/modgoods_result/" id="modgoods"  >
               <label>商品编码</label><input type="text" name="goods_no" value="{{ goods_no}}" readonly="readonly"/>
               <label>类别</label> <input type="text" name="goods_type" value="{{ goods_type }}" readonly="readonly"/>
               <label>商品名称</label> <input type="text" name="goods_name" value="{{ goods_name }}" readonly="readonly"/>
               <label>供应商</label> <input type="text" name="goods_customer" value="{{ goods_customer }}" readonly="readonly"/>
               <label>吊牌价</label><input type="text" name="goods_price" value="{{ goods_price }}" />
               <label>折扣</label><input type="text" name="goods_discount" value="{{ goods_discount }}" />
               <label>品牌</label><input type="text" name="goods_brand" value="{{ goods_brand }}" readonly="readonly" />
               <label>数量</label><input type="text" name="goods_quantity" value="{{ goods_quantity }}" />
                   <input type="hidden" name ="goods_images" readonly="readonly"/>
               <label>颜色</label><input type="text" name="goods_color" value="{{ goods_color }}" readonly="readonly" />
               <label>尺码</label><input type="text" name="goods_size" value="{{ goods_size }}" readonly="readonly" />
               <label>采购日期</label><input type="date" name="purchase_date"  value="{{  purchase_date}}"  />
               <label>调换到期</label><input type="date" name="exchange_date" value="{{ exchange_date }}" />
               <label>销售状态</label><select name="sale_status">
                   <option>库房</option>
                   <option>售卖</option>
                   <option>已售</option>
               </select>
                <input type="submit" value="修改" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </form>
               <img src="/upload/{{ goods_images}}" alt="{{ goods_name }}" />
           {% endfor %}
        {% endif %}
 {% endblock %}
 </body>
</html>