.addcolor{
        font-size:14px;
        font-family:ו;
        color:black;
        border:0 solid #151571;
        height:650px;
        margin:5px;
        padding:2px;
        text-align:center;

}
h2{
   text-align:center;


  }


.addcolor input:link,.addcolor input:visited,.addcolor label:link,.addcolor label:visited{
        color:#B03060;
}


.addcolor textarea:link,.addcolor textarea:visited,.addcolor label:link,.addcolor label:visited{
        color:#B03060;
}


.addcolor input:hover ,.addcolor label:hover,.addcolor textarea{
        color:#8B2323;
        border-left:2px solid yellow;
        font-weight:bold;
        padding:2px;
}

.addcolor input,.addcolor textarea{
    background-color:#C6E2FF;

}

textarea{
    width:173px;

}

.userdel{
        font-size:14px;
        font-family:ו;
        color:black;
        border:0 solid #151571;
        height:650px;
        margin:5px;
        padding:2px;
        text-align:center;

}

.userdel input:link,.useradd input:visited,.useradd label:link,.useradd label:visited{
        color:#B03060;
}

.userdel input:hover ,.useradd label:hover{
        color:#8B2323;
        border-left:2px solid yellow;
        font-weight:bold;
        padding:2px;
}

.userdel input{
    background-color:#C6E2FF;

}




.usermod{
        font-size:14px;
        font-family:ו;
        color:black;
        border:0 solid #151571;
        height:650px;
        margin:5px;
        padding:2px;
        text-align:center;

}

.usermod input:link,.useradd input:visited,.useradd label:link,.useradd label:visited{
        color:#B03060;
}

.usermod input:hover ,.useradd label:hover{
        color:#8B2323;
        border-left:2px solid yellow;
        font-weight:bold;
        padding:2px;
}

.usermod input{
    background-color:#C6E2FF;

}
