<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link type="text/css" href="/css/nav.css" rel="stylesheet" />
<!--[if lte IE 6]><link type="text/css" href="/css/ie6.css" rel="stylesheet" /><![endif]-->
</head>
<body background-color="red">
	<div class="menu">
		<ul class="menucon">
					<li>
				<a href="http://www.17sucai.com/">首页<!--[if IE 7]><!--></a><!--<![endif]-->
			</li>
			<li>
				<a href="http://www.17sucai.com/">查询<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->
				<ul>
					<li><a href="http://www.17sucai.com/">库存查询</a></li>
					<li><a href="http://www.17sucai.com/">销售查询</a></li>
					<li><a href="http://www.17sucai.com/">款式查询</a></li>
					<li class="last"></li>
				</ul>
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>
			<li>
			
				<a href="http://www.17sucai.com/">货物录入<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->

			</li>
			<li>
				<a href="http://www.17sucai.com/">统计<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->
				<ul>
					<li><a href="http://www.17sucai.com/">销售金额统计</a></li>
					<li><a href="http://www.17sucai.com/">图形统计</a></li>
					<li class="last"></li>
				</ul>
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>
			<li>
				<a href="http://www.17sucai.com/">用户中心<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->
				<ul>
					<li><a href="useradd.html">新建用户</a></li>
					<li><a href="http://www.17sucai.com/">修改密码</a></li>
					<li><a href="http://www.17sucai.com/">个人设置</a></li>
					<li class="last"></li>
				</ul>
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>
		</ul>
		               <ul>
               <div id="logout">
                             <li><a href="/logout">退出</a></li>
                        </div>
               </ul>
	</div><!--menu end-->
	<div  id="main" >
	ssssssssssssssssssss
	</div>
	
</body>
</html>
